<footer role="contentinfo" id="hosts">
  <div class="container">
  	<h2>Your Hosts</h2>
  	<div class="row">
  		<div class="col-xs-4">
  			<img src="{{ site.stefan_photo }}">
  			<h2>{{ site.stefan_name }}</h2>
  			<p>{{ site.stefan_description }}</p>
  		</div>
  		<div class="col-xs-4">
	    </div>
  		<div class="col-xs-4">
  			<img src="{{ site.philipp_photo }}">
  			<h2>{{ site.philipp_name }}</h2>
  			<p>{{ site.philipp_description }}</p>
  		</div>
  	</div>    
  </div>
</footer>
