root, a, p {
    font-family: Helvetica;
}

#masthead {
    background: #3498db;
}
#masthead .container {
    text-align: center;
    padding: 30px 0px 36px 0px;
}

.navbar {
    box-shadow: 0px 0px 5px #999;
    padding-top: 10px;
    margin-bottom: 0px;
}
.navbar-header {
    font-weight: bold;
    font-size: 1.3498em;
}

#content {
    padding: 20px 0px 20px 0px;
}

#pagination {
    text-align: center;
    width: 100%;
}

footer {
    padding: 14px 0px 14px 0px;
    background: #ebedef;
}

footer div.container > h2 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 36px;
}

footer div.row h2 {
    border-bottom: solid 3px #ccc;
    padding-bottom: 10px;
    font-size: 24px;
}

footer img {
    width: 100%;
    border-radius: 220px/220px;
    border: solid 10px rgba(255, 255, 255, .8);
    width: 220px;
    height: 220px;
}