{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
  <header role="banner" class="navbar navbar-fixed-top" id="top">
  	{% include header.html %}
  </header>
  <div id="masthead">
    <div class="container">
      <img width="300px" src="{{ site.photo }}">
    </div>
  </div>
  <div id="content" role="main">
    <div class="container">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
